<section id="main-slider" class="no-margin">
    <div class="carousel slide">      
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(../assets/slider/skypark-73c59e4f0fc232c02d34a45fab00e9d37d1cfcc17afb8b356860391c6e80dbef.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2 class="animation animated-item-1">Welcome To<span> RISEDIGITECH</span></h2>
                                <p class="animation animated-item-2">Complete solution for web and mobile application with various technology...</p>
                                <a class="btn-slide animation animated-item-3" href="<%= about_path%>">Read More</a>
                            </div>
                        </div>

                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="../assets/slider/img3-cec5a6cc6545bc11173a6f2b89a71621318460f222138b8f9038050a2daf8f05.png" class="img-responsive">
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--/.item-->             
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->
    
    <div class="feature">
        <div class="container">
            <div class="text-center">
                <div class="col-md-3">
                    <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
                        <div class="ruby-icon-box">
                            <img src="/assets/feature6-29d807902de37eb3ca98a2ac52c42e0cd6782f173fc2ab53013d5c9c3a0b1929.png " class="open-content icon-img" alt="" data-target="#content_modal" data-toggle="modal" data-id="content_1" >
                        </div>                        
                        <h2>Ruby on Rails</h2>
                        <p>Ruby on Rails, or simply Rails, is a server-side web application framework written in Ruby. Ruby, an object-oriented programming (OOP) language</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
                         <div class="android-icon-box">
                            <img src="/assets/feature7-e7b263c55b07cd0902520d0e248d85742a57de968001eb8189ad307ca1c6d436.png " class="open-content icon-img" alt="" data-target="#content_modal" data-toggle="modal" data-id="content_1" >
                        </div>   
                        <h2>Android Development</h2>
                        <p>Android is an open source and Linux-based Operating System for mobile devices such as smartphones and tablet computers.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" >
                         <div class="spree-icon-box">
                            <img src="/assets/spree-a9b260b2e939d54a48ccbd43dda48274d1fc919dfde5884597567f623a94bec5.png " class="open-content icon-img" alt="" data-target="#content_modal" data-toggle="modal" data-id="content_1" >
                        </div>   
                        <h2>Ecommerce</h2>
                        <p>Spree Commerce (also known as Spree) is an open source e-commerce solution based on Ruby on Rails.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" >
                         <div class="res-icon-box">
                            <img src="/assets/feature9-9d0bdad30427173b9ee475941b2cfe6d45e4b60a1257e0756c1c4d45e4626064.png " class="open-content icon-img" alt="" data-target="#content_modal" data-toggle="modal" data-id="content_1" >
                        </div>
                        <h2>Responsive Web Design</h2>
                        <p>Responsive design is an approach to web page creation that makes use of flexible layouts, flexible images and cascading style sheet media queries.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="about">
        <div class="container">
            <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
                <h2>About us</h2>
                <img src="../assets/6-82d1b0145f76ee45834c3cc9d37a666e0aa8d48417564c1692910f4ca0b1002a.jpg" class="img-responsive"/>
                <p>Risedigitech is a sister concern company of Riseagroinfra Pvt Ltd. Rise Agro Infra indore is An ISO 9001:2008 Certified CompanY. Risedigitech is global software development company. Dedicated to build software, web and mobile app development.
                </p>
            </div>
            
            <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
                <h2>RISEDIGITECH - MISSION AND VISION </h2>
                <p>we are team of Business Analysts, Project Evangelist, Designers, Developers and QAs well versed with bleeding edge technologies, tools and best practices. We began our operations in 2007 with the vision to become an organization that develops partnerships with its clients and adds values to the product.

                <p>Our aim to become the leader of Inforation technology world. Innovative high quality products and best services from our teamwork. Become best serive provider in IT Sector for website and App development.

                </p>
                <p>Ensuring quality of service by developing a thorough and detailed knowledge of technical specifications and other features of employers' systems and processes, and then documenting them.Protects organisation's value by keeping information confidential. </p>
            </div>
        </div>
    </div>
    
    <div class="lates">
        <div class="container">
            <div class="text-center">
                <h2>Our Latest Work</h2>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <img src="../assets/dmm-1cc7efb19d507e73ec8c20d542d19716d3034699e4c288b3f641a6a11de3c87c.png" class="img-responsive"/>
                <h3>www.dhakarmatrimonial.com</h3>
                <p>Dhakar matrimony is Indore (M.P) based company which is a subsidiary of Rise Agro Infra Private Limited. Dhakar Matrimonial is the emerging service provider for finding a perfect life partner in Dhakar community. Provide the most secure and convenient matchmaking experience to all its members by ensuring 100% screening.
                </p>
            </div>
            
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <img src="../assets/ra-fa4578ee46b48e009e7053ae4ea75304903875889438b712d87d1fc71b12f707.png" class="img-responsive"/>
                <h3>www.riseagroinfra</h3>
                <p>Rise Agro Infra serve in different fields. Develop hybrid grain and vegetable seeds. Matrimonial services for Dhakar Community. You can find your dream home with us as our legal properties services. We provide information technologies services as Risedigitech, construction work in real estate. We doing import and export. 
                </p>
            </div>
            
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">             
                <img src="../assets/worcool-be7020c272684e1781cde62c3c578242d102fdca568cf89e9cac545c274e1ad8.png" class="img-responsive"/>
                <h3>www.worcool.com</h3>
                <p>Worcool.com is the freelancing marketplace by number of users and projects.  Through our marketplace, employers can hire freelancers to do work in areas such as software development, writing, data entry and design right through to engineering, the sciences, sales and marketing, accounting and legal services. 
                </p>
            </div>
        </div>
    </div>
    
    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>We are Expert In</h2>
                <p>We experts in various technology. For web we have experts in php with various framework.<br> laravel,  cakephp php. Development in ruby on rails with latest versions. We are experts in <br>Ecommerce solution with responsive designs. We have seo experts for spread your business.</p>
            </div>    

            <div class="partners">
                <ul>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="../assets/partners/ui-logo7-30ad271f01e8907028019872295ba53f283b70925861130b0df294d29c6195c0.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="../assets/partners/ror-logo-bb5c676b9e9f1a8a546e8f1539319d1d5f04c28a7548039b9d7875f8853c5dd1.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="../assets/partners/ui-logo10-0905459891389852502e774b04b452c3ce0949363cd610602f953fdb64363dfe.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="../assets/partners/ui-logo1-306922b55f677cd17af0ff58afa3715cf8b7b41b5668ab1476182fcc51ffadc8.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="../assets/partners/se-0a9028a56140fed2aafbb8ac93b2ebee7356936bc016953ebe4356cd8887d4f4.png"></a></li>
                </ul>
            </div>        
        </div><!--/.container-->
    </section><!--/#partner-->
    
    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>Have a question or need a custom quote?</h2>
                            <p>Feel free to contact us with your query. You can contact on +91 - 8770896004 OR 0731 - 4979600 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->    
    </section><!--/#conatcat-info-->
   