<div id="breadcrumb">
	<div class="container">	
		<div class="breadcrumb">							
			<li><a href="<%= root_path %>">Home</a></li>
			<li>Portfolio</li>			
		</div>		
	</div>	
</div>
	
	<section id="portfolio">	
        <div class="container">
            <div class="center">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt</p>
            </div>

            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".bootstrap">Android</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wordpress">Web Development</a></li>
            </ul><!--/#portfolio-filter-->
		</div>
		<div class="container">
            <div class="">
                <div class="portfolio-items">
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../assets/portfolio/recent/dm-dc70a4108459bd631587e51b920fc472b46be6a98b547b14d3d9f0585cfc6ff7.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Dhakarmatrimonial</a></h3>
                                    <p>Matrimonial website and mobile application for dhakar community. </p>
                                    <a class="preview" href="../assets/portfolio/full/dm.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../assets/portfolio/recent/in-2b26c86bbc90e84a416fc47997bce157865f7e530af33b1361620e2e232934c7.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Onlypureinvitation</a></h3>
                                    <p>A tool to create beautiful and attractive invitation for every occasion. </p>
                                    <a class="preview" href="../assets/portfolio/full/in.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../assets/portfolio/recent/flo-b75bda65982df681722dbdc0a2585d778997d4703e52d7333eafbf8743046282.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Littleloveco</a></h3>
                                    <p>Online Flowers store for every event of life.Send Flowers Online from store.</p>
                                    <a class="preview" href="../assets/portfolio/full/flo.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>        
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../assets/portfolio/recent/sh.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Swollensociety</a></h3>
                                    <p>Swollensociety.com.au is an online cloth store for a brand </p>
                                    <a class="preview" href="../assets/portfolio/full/sh-5e964d693facd2ae6bb422c1d3c01ea5c18b4a33d4ab1d60cfd2a65fc3970325.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>           
                    </div><!--/.portfolio-item-->
          



                </div>
            </div>
        </div>
    </section><!--/#portfolio-item-->
	
