	
	<div id="breadcrumb">
		<div class="container">	
			<div class="breadcrumb">							
				<li><a href="<%= root_path %>">Home</a></li>
				<li>Services</li>			
			</div>		
		</div>	
	</div>
	
	<div class="services">
		<div class="container">
			<h3>RiseDigitech Services</h3>
			<hr>
			<div class="col-md-6">
				<img src="../assets/4-50e1a3dbacaafe5cb747bf30075c243d1837cc54b33438487828201a201c46c2.jpg" class="img-responsive">
				<p>Ensuring quality of service by developing a thorough and detailed knowledge of technical specifications and other features of employers' systems and processes, and then documenting them.Protects organisation's value by keeping information confidential..</p>
			</div>
			
			<div class="col-md-6">
				<div class="media">
					<ul>
						<li>
							<div class="media-left">
								<i class="fa fa-pencil"></i>						
							</div>
							<div class="media-body">
								<h4 class="media-heading">Web Development</h4>
								<p>Our team work on diffrent domains for web development. Our focus is on Ruby on rails work. Other then RoR we work on PHP with different framework, Responsive design logo designs.</p>
							</div>
						</li>
						<li>
							<div class="media-left">
								<i class="fa fa-book"></i>						
							</div>
							<div class="media-body">
								<h4 class="media-heading">Responsive Design</h4>
								<p>Responsive design is to have one site, but with different elements that respond differently when viewed on devices of different sizes.</p>
							</div>
						</li>
						<li>
							<div class="media-left">
								<i class="fa fa-rocket"></i>						
							</div>
							<div class="media-body">
								<h4 class="media-heading">Mobile App Development</h4>
								<p>iOS, Android, Ionic Framework </p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="sub-services">
		<div class="container">
			<div class="col-md-6">
				<div class="media">
					<ul>
						<li>
							<div class="media-left">
								<i class="fa fa-pencil"></i>						
							</div>
							<div class="media-body">
								<h4 class="media-heading">Landing Page</h4>
								<p>Landing page is a distinct page on your website that's built for one single conversion objective. A landing page should be designed, written and developed with one business goal in mind.</p>
							</div>
						</li>
						<li>
							<div class="media-left">
								<i class="fa fa-book"></i>						
							</div>
							<div class="media-body">
								<h4 class="media-heading">Training</h4>
								<p>Ruby on Rails Training and Ruby on Rails Corporate Training services. We framed our syllabus to match with the real world requirements for both beginner level to advanced level.</p>
							</div>
						</li>
						<li>
							<div class="media-left">
								<i class="fa fa-rocket"></i>						
							</div>
							<div class="media-body">
								<h4 class="media-heading">Logo Design</h4>
								<p>Let's make your brand unique.We are professional Logo Designer we give you design that creates your brand.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
						
			<div class="col-md-6">
				<img src="../assets/4-50e1a3dbacaafe5cb747bf30075c243d1837cc54b33438487828201a201c46c2.jpg" class="img-responsive">
				<p>Ensuring quality of service by developing a thorough and detailed knowledge of technical specifications and other features of employers' systems and processes, and then documenting them.Protects organisation's value by keeping information confidential..</p>
			</div>
		</div>
	</div>
	
	
