 <div id="breadcrumb">
    <div class="container"> 
      <div class="breadcrumb">              
        <li><a href="<%= root_path %>">Home</a></li>
        <li>Blog</li>     
      </div>    
    </div>  
  </div>

  <section id="blog" class="container">

	<h1>New Category</h1>

	<%= render 'form', category: @category %>

	<%= link_to 'Back', categories_path %>
</section>
